.banner{
    height:150px;
    overflow: hidden;
    ul{
        width: 1000%;
        height: 100%;
        overflow: hidden;
        li{
            width:100%;
            height: 100%;
            float: left;
            position: relative;
            a{
              img{
                  display: block;
                  width: 100%;
                  height: 100%;
              } 
            }  
        }
    }
}